<!-- host our Golden Layout component here -->
<div class="app-Container">
    <mat-toolbar>
        <span>Golden Layout - Layout Selection Test</span>
        <span class="filler"></span>
        <span>
            <button mat-stroked-button color="primary" (click)="addPanel()">Add Panel</button>
        </span>
        <span class="layout-selector">
            <layout-preference-selector label="Selected Layout:"></layout-preference-selector>
        </span>
    </mat-toolbar>
    <golden-layout-root class="app-Golden-Layout"></golden-layout-root>
</div>